// Variables
$hoverColor: rgb(250, 140, 140);
$baseColor: rgb(255, 73, 73);
$navBackground: rgb(39, 39, 39);
// Styles
.navContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color:$navBackground;
	padding: 0 1rem;

	a {
		color: $baseColor;
		text-decoration: none;
		font-size: 1.3em;
		margin: 0 1rem;
	}
	
	a:hover {
		color: $hoverColor;
	}

	img {
		height: 75px;
	}
}